.topnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
    color: #f9004d;
    transition: .4s;
  }

.topnav a.active {
    color: #f9004d;
  }
  
.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 80%;
}

.sticky + .content{
    padding-top: 60px;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#portfolio{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.titles{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.short-intro{
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#div1{
    display: flex;
    justify-content: center;
}

#div2{
    display: flex;
    justify-content: right;
    
}

#om-meg{
    display: flex;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#om-meg-txt{
    justify-content: start;
    padding-left: 20px;
    padding-right: 5%;
    font-size: large;
}

#Kontakt{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12%;
}

#welcome-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#selfie{
    justify-content: right;
    padding-left: 10%;
}

#microbit{
    border-radius: 100px;
}